/* -- PAGE D'ACCUEIL body -- */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.dynam-image {
    background-image: url("dynamfit-opacity1.jpg");
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dynam-text {
    text-align: center;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition-duration: 0.4s;   
}
h1 { 
    color: rgb(15, 9, 5); 
}

img.logo-profil{
    height:190px;
}

/*BOUTON page 1*/

a.contact-button {
    color:var(--color1);
    border: 3px solid  #ffffff;
    padding: 8px 20px;
    text-decoration: none;
    background-color: #b8815440;
    display: inline-block;
    margin-top: -10px;
    font-size: 20px;
}

a.contact-button:hover {
    color: white;
    border: 3px solid white;
}