body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 120%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("dynamfit-opacity1.jpg"); }
  .img2 { background-image: url("dynamfit-opacity2.jpg"); }
  .img3 { background-image: url("dynamfit-opacity3.jpg"); }
  

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    padding: 20px;
    text-align: center;
  }

/*BOUTON page 1*/

a.contact-button {
    color:white;
    font-weight: bold;
    border: 3px solid  white;
    position: fixed;
    padding: 8px 20px;
    text-decoration: none;
    background-color: #b8815440;
    display: inline-block;   
    font-size: 20px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

a.contact-button:hover {
    color: white;
    border: 3px solid white;
}


.menu {
    font-weight: bold;
    position: fixed;
    display: inline-block; 
    font-size: 18px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.menu:hover {
    color: white;
}


/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {
    .bg-image {
        /* Full height */
        height: 50%; 
}

.bg-text {
    font-size: 45px;
    border: 8px solid #f1f1f1;
    top: 50%;
    width: 300px;
    padding: 10px;

  }

.menu {
    font-size: 9px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);   
    }
a.contact-button {
    padding: 8px 20px;
    text-decoration: none;
    background-color: #b8815440;
    display: inline-block;   
    font-size: 15px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

}