
#parallax-world-of-ugg h2 {
  font-family:'Roboto', sans-serif; 
  font-size:70px; 
  letter-spacing:10px; 
  text-align:center; 
  color:#fabb24; 
  font-weight:400; 
  text-transform:uppercase; 
  z-index:10; 
  opacity:.9;}

#parallax-world-of-ugg p {
  font-family:'Roboto', 
  sans-serif; font-weight:400; 
  font-size:18px; line-height:20px;}

.first-character {
  font-weight:400; 
  float: left; 
  font-size: 60px; 
  line-height: 64px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
  font-family: 'Roboto', sans-serif;}



/* Section - Title logo DYNAM'FIT*/
/**************************/
#parallax-world-of-ugg .title {
  background: white; 
  padding: 50px; 
  margin:0 auto; 
  text-align:center; }


/**************************/

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top : 100px;
  padding-bottom : 100px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity1.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center top;
  }

#parallax-world-of-ugg .parallax-two {
  padding-top : 150px;
  padding-bottom : 150px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity4.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center center;
  }
  #parallax-world-of-ugg .parallax-three {
  padding-top : 100px;
  padding-bottom : 100px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity2.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center center;
  }
  #parallax-world-of-ugg .parallax-four {
  padding-top : 100px;
  padding-bottom : 100px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity3.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center top;
  }
  #parallax-world-of-ugg .line-break {
  border-bottom : 1px solid #fabb24;
  width : 150px;
  margin : 0 auto;
  }

body {
  font-size: 16px;
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
  overflow : hidden;
  background-color : #fabb24;
  top : 0;
  }
li {
  float : left;
}
li a {
  display : block;
  color : white;
  text-align : center;
  padding : 10px 15px;
  text-decoration : none;
  }
li a:hover {
  background-color : black;
  }


/*partie qui suis-je*/
.container {
  margin: auto; /* To center the text horizontally */
  max-width: 1000px; /* Limiting the width for extra large screens */
  padding: 100px 5px;
}

.container p {
  line-height: 1.8;
}
.flotte {
  float:left;
  margin-top: 30px;
  margin-right: 10px;
}


/* CSS bouton contactez-moi */

div.cover-contact {
  position : absolute;
  top : 20px;
  left : 10px;
  padding-left : 8px;
  }
a.contact-button {
  color : white;
  border : 1px solid #545454;
  padding : 8px 10px;
  text-decoration : none;
  background-color : #fabb24;
  display : inline-block;
  margin-top : 1px;
  font-size : 15px;
  }
a.contact-button:hover {
  color : #fabb24;
  border : 1px solid #fabb24;
  background-color : black;
  }

/*code images tarifs et activités*/

#lesnews img {
  width : 300px;
  height : 500px;
  display : block;
  }
#lesnews div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }
#lesnews1 img {
  width : 300px;
  height : 300px;
  display : block;
  }
#lesnews1 div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }
  
#lesnews2 img {
  width : 300px;
  height : 300px;
  display : block;
  }
#lesnews2 div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }

#lesnews3 img {
  width : 300px;
  height : 300px;
  display : block;
  }
#lesnews3 div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }
  

/*MENU BURGER*/

header {position: relative;}
main {padding: 2rem;}

/************** NAVIGATION ***************/

nav ul {
	display: flex; 
	flex-wrap: wrap; 
	max-width: 2100px; 
	margin: 0 auto;		
  background: #fabb24;
}
nav ul,
nav li {
	flex: 1;	
}
nav li:last-child {
   border-bottom: none;
}
nav a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 1.6rem;
}
nav a:hover {
	background: #545454;
	color: #fff;
}
nav li {
	position: relative;
	line-height: 50px;
	color: #fff;
	text-align: center;
}  
nav input,
nav label {
	display: none;
	width: 36px; 
	height: 36px; 
	background: #555; 
	color: #fff; 
	text-align: center; 
	line-height: 36px;
	font-size: 1.6rem;
	border-radius: 2px;
} 
nav label {
   position: absolute; 
   top: 8px; 
   right: 8px; 
   transition: .4s;
}
nav label:hover {cursor:pointer;}
nav label:before {
	font-family: FontAwesome;
	font-size: 24px;
	content: "\f0c9";
	text-align: center;
}

/************* MEDIA QUERIES **************/

@media only screen and (max-width: 1080px){
   nav {
      position: relative;
   }
	nav ul {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(0,0,0, .7);
      transition: all .5s;
      position: absolute;
      width: 100%;
	}
	nav li {
		flex: none; 
		width: 100%;
		border-bottom: solid 1px #777;
	} 
	nav input[type="checkbox"]:checked + ul  {
		transform: translateY(-100%);
		width: 100%;
		background: #999;   
      transition: all .5s;
	}
	nav label{
      display: block;
   }  
	nav input[type="checkbox"]:checked + ul li:nth-child(1){
		background: #777; 
		color: #fff;
	}  
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*BOOTSTRAP PRICING* 1ER BLOCK*/

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #fabb24;
  position: relative;
  width: 350px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan li{
  margin: 10px 20px;
  position: relative;
}

.pricingdiv ul.theplan li.title{
  font-size: 190%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}

.pricingdiv ul.theplan:nth-of-type(2){
  background: #545454;
}
    
.pricingdiv ul.theplan:nth-of-type(3){
  background: #fabb24;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/
/*BOOTSTRAP PRICING* 2EME BLOCK*/

.pricingdiv2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.pricingdiv2 ul.theplan2{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #545454;
  position: relative;
  width: 350px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
}

.pricingdiv2 ul.theplan2:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv2 ul.theplan2 li{
  margin: 10px 20px;
  position: relative;
}

.pricingdiv2 ul.theplan2 li.title{
  font-size: 190%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}

.pricingdiv2 ul.theplan2:nth-of-type(2){
  background: #fabb24;
}
    
.pricingdiv2 ul.theplan2:nth-of-type(3){
  background: #545454;
}

.pricingdiv2 ul.theplan2:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv2 ul.theplan2 li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv2 a.pricebutton{
  
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
.pricingdiv ul.theplan{
  border-radius: 0;
  width: 100%;
  margin-right: 0;
}

.pricingdiv ul.theplan:hover{
  transform: none;
  box-shadow: none;
}

.pricingdiv a.pricebutton{
  display: block;
}


.pricingdiv2 ul.theplan2{
  border-radius: 0;
  width: 100%;
  margin-right: 0;
}

.pricingdiv2 ul.theplan:hover2{
  transform: none;
  box-shadow: none;
}

.pricingdiv2 a.pricebutton{
  display: block;
}

}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*SOCIAL MEDIA*/

.fa {
  padding: 9px;
  font-size: 25px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #545454;
  color: white;
}

.fa-youtube {
  background: #545454;
  color: white;
}

.fa-instagram {
  background: #545454;
  color: white;
}

.fa-vimeo-square {
  background: #545454;
  color: white;
}


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*bouton flêche vers le haut*/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 30px;
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*caroussel slide */

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {

  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three .parallax-four {padding-top:100px; padding-bottom:100px;}
}

/**************************/
/*autres partie contact*/

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
}

.fcf-btn-primary {
  color: #fff;
  background-color: #fabb24;;
  border-color: #545454;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #fabb24;
  border-color: black;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #fabb24;
  border-color: black;
}

.fcf-btn-lg, .fcf-btn-group-lg > .fcf-btn {
  line-height : 1.5;
  }

.fcf-btn-block {
  display: block;
  width: 100%;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}
/**************************/
footer p{
  font-family: 'Martel', serif;
  text-align:center;
}


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/


/*GALERIE*/

.container-1 {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 1.7vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/* CITATION */

/* => petit logo*/
.petit-logo img{
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-left: 40%;
}

/* center the blockquote in the page */
.blockquote-wrapper {
  padding : 0 20px;
  background-color : #545454;
  }

/* Blockquote main style */
.blockquote {
  position : relative;
  font-family : 'Barlow Condensed', sans-serif;
  max-width : 620px;
  margin : 80px auto;
  }

/* Blockquote header */
.blockquote h3 {
  font-family: 'Abril Fatface', cursive;
  position: relative; /* for pseudos */
  color: #fabb24;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fabb24;
  border: solid 2px;
  border-radius:20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h3:after {
  content:"";
  position: absolute;
  border: 2px solid #fabb24;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3; 
}

.blockquote h3:before {
  content : "";
  position : absolute;
  width : 90px;
  border : 6px solid #545454;
  bottom : -3px;
  left : 50px;
  z-index : 2;
  }

/* increase header size after 600px */
.blockquote h3 {
  line-height : 1.2;
  }

/* Blockquote subheader */
.blockquote h4 {
  position : relative;
  color : #ffffff;
  font-weight : 400;
  line-height : 1.2;
  margin : 0;
  padding-top : 15px;
  z-index : 1;
  margin-left : 150px;
  padding-left : 12px;
  }

.blockquote h4:first-letter {
  margin-left : -12px;
  }


/*HHHHHHHHHHHHHHHHHHHHHHHHH*/




/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/


/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {

#parallax-world-of-ugg h2 {
  font-family:'Roboto', sans-serif; 
  font-size:20px; 
  letter-spacing:10px; 
  text-align:center; 
  color:#fabb24; 
  font-weight:400; 
  text-transform:uppercase; 
  z-index:10; 
  opacity:.9;}

#parallax-world-of-ugg .block {
  padding: 30px 15px; 
  width:290px;}


img {
	width: 100%;
	height: 100%;
}

/*pour menu burger*/
body {
  font-size: 12px;
}

ul {
  background-color: #545454;

}

}

@media only screen and (max-width: 768px) {

#parallax-world-of-ugg p {
  font-family:'Roboto', sans-serif;
  font-weight:400; 
  font-size:14px; 
  line-height:20px;}


/*bouton flêche vers le haut*/
#scroll_to_top {
  position: fixed;
  width: 40px;
  height: 25px;
  bottom: 50px;
  right: 13px;
}
#scroll_to_top img {
  width: 32px;
}
.container-1 {
  height: 30vh;
}

.box > span {
  font-size: 0.8vh;}

footer a {
  font-size:13px;
}

}


