
#parallax-world-of-ugg h2 {
  font-family:'Roboto', sans-serif; 
  font-size:70px; 
  letter-spacing:10px; 
  text-align:center; 
  color:#fabb24; 
  font-weight:400; 
  text-transform:uppercase; 
  z-index:10; 
  opacity:.9;}

#parallax-world-of-ugg p {
  font-family:'Roboto', 
  sans-serif; font-weight:400; 
  font-size:18px; line-height:20px;}

.first-character {
  font-weight:400; 
  float: left; 
  font-size: 60px; 
  line-height: 64px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
  font-family: 'Roboto', sans-serif;}



/* Section - Title logo DYNAM'FIT*/
/**************************/
#parallax-world-of-ugg .title {
  background: white; 
  padding: 50px; 
  margin:0 auto; 
  text-align:center; }


/**************************/

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top : 100px;
  padding-bottom : 100px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity-dynam8.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center top;
  }

#parallax-world-of-ugg .parallax-two {
  padding-top : 150px;
  padding-bottom : 150px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity-dynam4.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center center;
  }
  #parallax-world-of-ugg .parallax-three {
  padding-top : 100px;
  padding-bottom : 100px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity-dynam2.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center center;
  }
  #parallax-world-of-ugg .parallax-four {
  padding-top : 100px;
  padding-bottom : 100px;
  overflow : hidden;
  position : relative;
  width : 100%;
  background-image : url(opacity-dynam3.jpg);
  background-attachment : fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center top;
  }
  #parallax-world-of-ugg .line-break {
  border-bottom : 1px solid #fabb24;
  width : 150px;
  margin : 0 auto;
  }

body {
  font-size: 16px;
}


/*menu*/
ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
  overflow : hidden;
  background-color : #fabb24;
  top : 0;
  }
li {
  float : left;
}
li a {
  display : block;
  color : white;
  text-align : center;
  padding : 10px 15px;
  text-decoration : none;
  }
li a:hover {
  background-color : black;
  }





/*partie qui suis-je*/
.container {
  margin: auto; /* To center the text horizontally */
  max-width: 1000px; /* Limiting the width for extra large screens */
  padding: 100px 5px;
}

.container p {
  line-height: 1.8;
}
.flotte {
  float:left;
  margin-top: 0px;
  margin-right: 10px;
}


/* CSS bouton contactez-moi */

div.cover-contact {
  position : absolute;
  top : 20px;
  left : 10px;
  padding-left : 8px;
  }
a.contact-button {
  color : white;
  border : 1px solid #545454;
  padding : 8px 10px;
  text-decoration : none;
  background-color : #fabb24;
  display : inline-block;
  margin-top : 1px;
  font-size : 15px;
  }
a.contact-button:hover {
  color : #fabb24;
  border : 1px solid #fabb24;
  background-color : black;
  }

/*code images tarifs et activités*/

#lesnews img {
  width : 300px;
  height : 300px;
  display : block;
  }
#lesnews div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }
#lesnews1 img {
  width : 300px;
  height : 300px;
  display : block;
  }
#lesnews1 div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }
  
#lesnews2 img {
  width : 300px;
  height : 300px;
  display : block;
  }
#lesnews2 div {
  width : 300px;
  vertical-align : top;
  display : inline-block;
  text-align : center;
  }

.zoom {
  width: 320px;
  height: 240px;
  }
.image {
  width: 100%;
  height: 100%; 
  }

.image img {
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  }
.image:hover img {
  /* L'image est doublée */
  -webkit-transform:scale(2); /* Safari et Chrome */
  -moz-transform:scale(2); /* Firefox */
  -ms-transform:scale(2); /* Internet Explorer 9 */
  -o-transform:scale(2); /* Opera */
  transform:scale(2);
  }

/*pour menu burger*/

#hamnav {
  width : 100%;
  background : #fabb24;
  top : 0;
  }

/* Hide Hamburger */
#hamnav label, #hamburger { 
  display: none; 
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*Partie CONTACT*/

#fcf-form {
  display:inline block;
}

.fcf-body {
  margin-left : auto;
  margin-right : auto;
  font-family : -apple-system, 'Roboto', sans-serif;
  font-weight : 400;
  line-height : 1.5;
  color : white;
  text-align : left;
  background-color : #545454;
  padding : 30px;
  padding-bottom : 10px;
  border : 1px solid #ced4da;
  max-width : 60%;
  }

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position : relative;
  width : 100%;
  }

.fcf-form-control {
  display : block;
  width : 100%;
  font-weight : 400;
  line-height : 1.5;
  color : #495057;
  background-color : #fff;
  background-clip : padding-box;
  border : 1px solid #545454;
  outline : none;
  }
.fcf-form-control:focus {
  border : 1px solid #313131;
  }

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, 'Roboto', sans-serif;
  height: auto;
}

label.fcf-label {
display : inline-block;
 }
.fcf-credit {
  padding-top : 10px;
  color : #545b62;
  }
.fcf-credit a {
  color : #545b62;
  text-decoration : underline;
  }
.fcf-credit a:hover {
  color : #fabb24;
  text-decoration : underline;
  }
.fcf-btn {
  display : inline-block;
  font-weight : 400;
  color : #212529;
  text-align : center;
  vertical-align : middle;
  cursor : pointer;
  user-select : none;
  background-color : transparent;
  border : 1px solid transparent;
  line-height : 1.5;
  }

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*SOCIAL MEDIA*/

.fa {
  padding: 9px;
  font-size: 25px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #545454;
  color: white;
}

.fa-youtube {
  background: #545454;
  color: white;
}

.fa-instagram {
  background: #545454;
  color: white;
}

.fa-vimeo-square {
  background: #545454;
  color: white;
}


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*bouton flêche vers le haut*/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 30px;
}

/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/*caroussel slide */

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three .parallax-four {padding-top:100px; padding-bottom:100px;}
}

/**************************/
/*autres partie contact*/

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
}

.fcf-btn-primary {
  color: #fff;
  background-color: #fabb24;;
  border-color: #545454;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #fabb24;
  border-color: black;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #fabb24;
  border-color: black;
}

.fcf-btn-lg, .fcf-btn-group-lg > .fcf-btn {
  line-height : 1.5;
  }

.fcf-btn-block {
  display: block;
  width: 100%;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}
/**************************/
footer p{
  font-family: 'Martel', serif;
  text-align:center;
}


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

/* CITATION */

/* => petit logo*/
.petit-logo img{
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-left: 40%;
}

/* center the blockquote in the page */
.blockquote-wrapper {
  padding : 0 20px;
  background-color : #545454;
  }

/* Blockquote main style */
.blockquote {
  position : relative;
  font-family : 'Barlow Condensed', sans-serif;
  max-width : 620px;
  margin : 80px auto;
  }

/* Blockquote header */
.blockquote h1 {
  font-family: 'Abril Fatface', cursive;
  position: relative; /* for pseudos */
  color: #fabb24;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fabb24;
  border: solid 2px;
  border-radius:20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
  content:"";
  position: absolute;
  border: 2px solid #fabb24;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3; 
}

.blockquote h1:before {
  content : "";
  position : absolute;
  width : 90px;
  border : 6px solid #545454;
  bottom : -3px;
  left : 50px;
  z-index : 2;
  }

/* increase header size after 600px */
.blockquote h1 {
  line-height : 1.2;
  }

/* Blockquote subheader */
.blockquote h4 {
  position : relative;
  color : #ffffff;
  font-weight : 400;
  line-height : 1.2;
  margin : 0;
  padding-top : 15px;
  z-index : 1;
  margin-left : 150px;
  padding-left : 12px;
  }

.blockquote h4:first-letter {
  margin-left : -12px;
  }


/*HHHHHHHHHHHHHHHHHHHHHHHHH*/

/*IMGE SOLO PAIEMENT ABONNEMEZNT*/


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/


/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {

#parallax-world-of-ugg h2 {
  font-family:'Roboto', sans-serif; 
  font-size:20px; 
  letter-spacing:10px; 
  text-align:center; 
  color:#fabb24; 
  font-weight:400; 
  text-transform:uppercase; 
  z-index:10; 
  opacity:.9;}
}
#parallax-world-of-ugg .block {
  padding: 30px 15px; 
  width:290px;}


@media only screen and (max-width: 767px) {

img {
	width: 100%;
	height: 100%;
}

/*pour menu burger*/
body {
  font-size: 12px;
}

ul {
  background-color: #545454;

}

 /* Show Hamburger Icon */
 #hamnav label { 
  display: inline-block; 
  color: white;
  background: black;
  font-style: normal;
  font-size: 1.8em;
  padding: 15px;
}

/* Break down menu items into vertical */
#hamitems a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid ;
}

/* Toggle Show/Hide Menu */
#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }
}

@media only screen and (max-width: 768px) {

#parallax-world-of-ugg p {
  font-family:'Roboto', sans-serif;
  font-weight:400; 
  font-size:14px; 
  line-height:20px;}


/*bouton flêche vers le haut*/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 13px;
}
#scroll_to_top img {
  width: 25px;
}
}
